.card__url_content_title {
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: 0.125rem;
  margin: 0;
  padding: 0;
  color: #aaaaaa;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .card__url_content_title {
    margin: 0 0 0 16px;
  }
}
