.places-grid__link {
  display: flex;
  flex-direction: column-reverse;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .places-grid__link {
    padding: 0 16px 0;
  }
}