.cover__subtitle {
  max-width: 360px;
  min-width: 288px;
  max-height: calc((66/360) * 100vw);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 122%;
  text-align: center;
  margin: 0;
  padding: 32px 0 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: .875rem;
    line-height: 114%;
  }
}