.places-grid__item_image {
  width: calc(35.9375vw); /* это ≈ 460px на экране 1280px */
  height: calc(35.9375vw);
  max-width: 460px; /* Чтобы на разрешении больше 1280px картинка не наезжала на текст. Max-height ниже тоже для этого */
  max-height: 460px;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .places-grid__item_image {
    width: calc(43vw); /* это ≈ 440px на экране 1024px */
    height: calc(43vw);
}
}

@media (max-width: 768px) {
  .places-grid__item_image {
    width: calc(44.27vw); /* это ≈ 340px на экране 768px */
    height: calc(44.27vw);
  }
}

@media (max-width: 767px) {
  .places-grid__item_image {
    min-height: 320px;
    width: 100vw;
    height: 100vw;
  }
}