.header__logo {
  background: url('../../../images/__logo.svg') no-repeat center / contain;
  width: 142px;
  padding-bottom: calc((42/142) * 100%);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
  height: 0;
}

@media screen and (min-width: 321px) {
  .header__logo {
    width: 176px;
    padding-bottom: calc((52/176) * 100%);
  }
}
