.card__description {
  display: flex;
  flex-direction: column;
  max-width: 484px;
  gap: 26px;
}

@media screen and (max-width: 1024px) {
  .card__description {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .card__description {
    max-width: 352px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .card__description {
    max-width: 288px;
    margin: 32px 16px 0;
  }
}
