.card__description {
  max-width: 30.25rem; /* 484px */
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 1279px) {
  .card__description {
    max-width: 28.5rem; /* 456px */
  }
}

@media screen and (max-width: 1023px) {
  .card__description {
    max-width: 22rem; /* 352px */
  }
}

@media screen and (max-width: 320px) {
  .card__description {
    max-width: 18.7rem; /* 288px */
    gap: 25px;
  }
}
