.intro__text {
  max-width: 43.125rem; /* 690px */
  font-style: normal;
  font-size: 1rem;
  line-height: 163%;
  text-align: left;
  margin: 40px 0 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 45rem; /* 720px */
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 18rem; /* 288px */
  }
}
