.intro {
  max-width: 690px;
  min-width: 288px;
  max-height: calc((429 / 690) * 100%);
  min-height: 429px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 92px max(0px, calc(100% - (690px - 24px))) 0 148px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 92px max(0px, calc(100% - (690px - 48px))) 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 88px max(0px, calc(100% - (690px - 24px))) 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-height: calc((754 / 288) * 100%);
    margin: 64px max(0px, calc(100% - (690px - 24px))) 0 24px;
  }
}
