.lead__subtitle {
  max-width: 40rem; /* 640px */
  min-width: 18rem; /* 288px */
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  margin: 32px 0 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 18rem; /* 288px */
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 16px 0 0;
  }
}
