.cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 90px 0 0;
  padding: 0;
}

.cover a:hover {
  background-color: inherit;
  opacity: inherit;
  transition: none;
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px 0 0;
  }
}
