.cover__image {
  position: relative;
  background: url('../../../images/__background.png') no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  max-width: 1184px;
  min-width: 320px;
  min-height: calc((740/1184) * 100vw); /* У четырех разрешений одинаковое соотношение сторон высоты к ширине, поэтому можно не добавлять медиазапрос для каждого разрешения*/
  box-sizing: border-box;
  margin: 0;
}

.cover__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
}

.cover__image:hover:before {
  opacity: .8;
}

@media screen and (min-width: 1280px) {
  .cover__image {
    min-height: calc((740/1184) * (100vw - 96px));
    margin: 0 48px;
  }
}