.cover__image {
  position: relative;
  background: url('../../../images/__background.png') no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  min-height: 740px;
  box-sizing: border-box;
  margin: 0 48px;
}

.cover__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__image:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__image {
    min-height: 640px;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__image {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__image {
    min-height: 200px;
  }
}
