.places-grid__place-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  padding: 0;
  gap: 80px;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .places-grid__place-list {
    margin: 0;
    padding: 0;
    gap: 70px;
  }
}

@media screen and (max-width: 767px) {
  .places-grid__place-list {
    gap: 50px;
  }
}
