.places-grid__place-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 148px 0;
  padding: 0;
  gap: 80px;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .places-grid__place-list {
    margin: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .places-grid__place-list {
    margin: 0;
    padding: 0;
    gap: 73px;
  }
}

@media screen and (max-width: 768px) {
  .places-grid__place-list {
    gap: 50px;
  }
}
