.places-grid__subtitle {
  display: block;
  font-weight: 400;
  font-size: .75rem;
  line-height: 170%;
  letter-spacing: 2px;
  margin: 0 0 12px;
  padding: 0;
}

.places-grid__subtitle:first-child  {
  text-decoration-line: underline;
}

@media (max-width: 768px) {
  .places-grid__subtitle {
    line-height: 100%;
  }
}