.cover__heading {
  max-width: 560px;
  min-width: 288px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 106%;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__heading {
    max-width: 288px;
    font-size: 2rem;
    line-height: 109%;
  }
}
